{% extends 'base.html' %}

{% block title %} User Details {% endblock %}

{% block content %}
<h1> {{ user.first_name }} {{ user.last_name }} </h1>
<img src="{{ user.image_url }}">
<form action ="/users/{{ user.id }}/edit">
  <button action="submit">Edit</button>
</form>

<form action ="/users/{{ user.id }}/delete" method="POST">
  <button action="submit">Delete</button>
</form>

<h2> Posts </h2>
<ul>
  {% for post in posts %}
  <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
<form action ="/users/{{ user.id }}/posts/new">
  <button action="submit">Add Post</button>
</form>
{% endblock %}