{% extends 'base.html' %}

{% block title %} Users {% endblock %}

{% block content %}
<h1>Users</h1>
<ul>
  {% for user in users %}
  <li><a href="/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></li>
  {% endfor %}
  </ul>

  <h2>Create a user</h2>
  <form method="POST">
   <div>
    First Name
    <input name="first_name">
   </div>
   <div>
    Last Name
    <input name="last_name">
   </div>
   <div>
    Image URL
    <input name="image_url">
   </div>
   <button type="submit">Add</button>
  </form>

{% endblock %}